@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>To use menus such as: <strong>Download users</strong> or <strong>Encript file</strong> you need to be logged in.</p>
    <p>If you do not have an user, you can register it.</p>
    <p>Otherwise, you can log into the system.</p>
</div>
